
      
  
  #hoved > div {
    background-color: #aac9c600;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
  }

  html, body {
    width:99%;
    height:99%;
  }
  
  body {
      background: linear-gradient(-45deg, #9d9c9cde, #3e3636, #6e6b6b87, #67676795);
      background-size: 400% 400%;
      animation: gradient 10s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  .dropbtn {
    background-color: #dcfff200;
    color: rgb(255, 255, 255);
    padding: 16px;
    font-size: 46px;
    border: groove, grey;
    border-radius:10px;
    width:450px;
    font-family:sans;
    
    
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff00;
    width: 90%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:10px;
    border-style:groove;
    border-width: 23px;
    border-color: white;

  }
  
  .dropdown-content a {
    color:rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align:center;
    font-family: sans-serif;
  }
  
  .dropdown-content div:hover {background-color: #7c7c7c; transform: scale(1.05); transition-duration: 0.5s;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #7c7c7c;}
  