#hoved {
    width: 1900px;
    height: 920px;
    display: grid;
    gap: 10px;
    background-color: #c6c6c600;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 
      "t t t t t t t t t t t t t t t" 
      "t t t t t t t t t t t t t t t"
      "v v h h h h h h h h h h h h h"
      "v v h h h h h h h h h h h h h"
      "v v h h h h h h h h h h h h h"
      "v v h h h h h h h h h h h h h"
      "v v h h h h h h h h h h h h h"
      "v v h h h h h h h h h h h h h"
      "v v h h h h h h h h h h h h h"
      "v v h h h h h h h h h h h h h";
      
  }
  #hoved > div {
    background-color: #aac9c600;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
  }
  .topp    { grid-area : t; text-align: center; font-size: xx-large;}
  .venstre { grid-area : v; }
  .hoyre   { grid-area : h; }



  html, body {
    width: 1910px;
    height:920px;
  }
  
  body {
      background: linear-gradient(-45deg, #3939407f, #3e3636, #504d4d, #676767);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  .dropbtn {
    background-color: #dcfff200;
    color: beige;
    padding: 16px;
    font-size: 46px;
    border: groove, grey;
    border-radius:10px;
    width:450px;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f100;
    width: 450px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:10px;
    border:dotted 1px;
  }
  
  .dropdown-content a {
    color:beige;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align:center;
  }
  
  .dropdown-content div:hover {background-color: #7c7c7c; transform: scale(1.05); transition-duration: 0.5s;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #7c7c7c;}
  
 
