body{
   background-image: url(https://clipground.com/images/wooden-sign-clipart-rustic-9.png);
   background-size: 80%;
}
.thMedier {
   text-align: left;
   width: 1000px;
   padding: 10px;
}

.Prosent {
   padding: 40px;
   column-span: all;
   text-align: center;
   border-top: black  double;
   border-left: black double;
   border-right: black double;
   background-color: rgba(255, 255, 255, 0.581);
   
}

.green {
   background-color: rgba(255, 255, 255, 0.581);
}

.prosentTall {
   width: 500px;
   padding: 10px;
}

.thead {
   padding-top: 30px;
   padding-left: 10px;
   font-size: x-large;
   text-align: left;
   color: rgba(255, 255, 255, 0.581);
}
.år{
   padding:20px;
   border-left: double black;
   border-top: black double;
   border-bottom: black double;
 background-color: rgba(255, 255, 255, 0.581);}
.red{
   background-color: rgba(193, 38, 38, 0.69);
}
#tomboks{
   background-image:url(Screenshot\ 2023-09-28\ 134732.png);
   background-size: 100%;
   border: double black;
}
table{
   border: double black;
   padding:20px;
}
#år{
   padding:20px;
   border:black double;
   background-color: rgba(255, 255, 255, 0.581);

}

body {
   background: #323641;
 }

 p{
   color:  rgba(255, 255, 255, 0.581);
   font-size: large;
   padding-left:10px;
 }

 